data/*.h5nimrod filter=lfs diff=lfs merge=lfs -text
data/*.pdb filter=lfs diff=lfs merge=lfs -text
data/*.dat filter=lfs diff=lfs merge=lfs -text
test/**/*.png filter=lfs diff=lfs merge=lfs -text
test/**/*.tif filter=lfs diff=lfs merge=lfs -text
test/**/*.jpg filter=lfs diff=lfs merge=lfs -text
test/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
docs/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/**/*.jpg filter=lfs diff=lfs merge=lfs -text
docs/**/*.tif filter=lfs diff=lfs merge=lfs -text
docs/**/*.fm filter=lfs diff=lfs merge=lfs -text
docs/**/*.pdf filter=lfs diff=lfs merge=lfs -text
src/databases/H5Nimrod/nimrod.pdf filter=lfs diff=lfs merge=lfs -text
*.xyz filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.7z filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.mpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
visit-deps-windowsbuild/**/*.dll !filter !diff !merge !text
visit-deps-windowsbuild/**/*.msi !filter !diff !merge !text
*.md filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
/NOTICE filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
/data/CHGCAR filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.okc filter=lfs diff=lfs merge=lfs -text
*.ultra filter=lfs diff=lfs merge=lfs -text
/data/make_visit_data_dist filter=lfs diff=lfs merge=lfs -text
*.curve filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.fm filter=lfs diff=lfs merge=lfs -text
*.book filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.mif filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
/docs/PythonInterface/MAINTENANCE_NOTES filter=lfs diff=lfs merge=lfs -text
/docs/PythonInterface/visitdocs/Doxyfile filter=lfs diff=lfs merge=lfs -text
/docs/PythonInterface/visitdocs/README filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.bib filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.dia filter=lfs diff=lfs merge=lfs -text
/scripts/ci/azure/Dockerfile-ubuntu19 filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
/scripts/ci/docker/Dockerfile filter=lfs diff=lfs merge=lfs -text
/scripts/docker/Dockerfile-centos8 filter=lfs diff=lfs merge=lfs -text
/scripts/docker/Dockerfile-debian10 filter=lfs diff=lfs merge=lfs -text
/scripts/docker/Dockerfile-debian9 filter=lfs diff=lfs merge=lfs -text
/scripts/docker/Dockerfile-fedora31 filter=lfs diff=lfs merge=lfs -text
/scripts/docker/Dockerfile-ubuntu18 filter=lfs diff=lfs merge=lfs -text
/scripts/docker/Dockerfile-ubuntu20 filter=lfs diff=lfs merge=lfs -text
/scripts/docker/Dockerfile-ubuntu21 filter=lfs diff=lfs merge=lfs -text
/scripts/git-hooks/pre-commit filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.C filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/src/CMake/osxfixup filter=lfs diff=lfs merge=lfs -text
*.cc filter=lfs diff=lfs merge=lfs -text
/src/INSTALL_NOTES filter=lfs diff=lfs merge=lfs -text
/src/VERSION filter=lfs diff=lfs merge=lfs -text
*.code filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.mm filter=lfs diff=lfs merge=lfs -text
/src/bin/Doxyfile filter=lfs diff=lfs merge=lfs -text
/src/bin/db_mktmpl filter=lfs diff=lfs merge=lfs -text
/src/bin/depcomp filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
/src/bin/frontendlauncher filter=lfs diff=lfs merge=lfs -text
/src/bin/install-sh filter=lfs diff=lfs merge=lfs -text
/src/bin/internallauncher filter=lfs diff=lfs merge=lfs -text
/src/bin/makemili_driver_ser filter=lfs diff=lfs merge=lfs -text
/src/bin/mkgrdbl filter=lfs diff=lfs merge=lfs -text
/src/bin/regen-ajp filter=lfs diff=lfs merge=lfs -text
/src/bin/run_doxygen filter=lfs diff=lfs merge=lfs -text
/src/bin/xml2plugin filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.xpm filter=lfs diff=lfs merge=lfs -text
*.def filter=lfs diff=lfs merge=lfs -text
/src/databases/FieldViewXDB/PLATFORMS filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
/src/databases/H5Nimrod/README filter=lfs diff=lfs merge=lfs -text
*.hex filter=lfs diff=lfs merge=lfs -text
*.reads_all filter=lfs diff=lfs merge=lfs -text
*.cxx filter=lfs diff=lfs merge=lfs -text
/src/databases/PLOT3D/README_PLOT3D filter=lfs diff=lfs merge=lfs -text
/src/databases/Vis5D/COPYING filter=lfs diff=lfs merge=lfs -text
/src/databases/Vis5D/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/src/databases/Vs/README filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.pws filter=lfs diff=lfs merge=lfs -text
/src/doc/cli_manual/preambles/attributes_preamble filter=lfs diff=lfs merge=lfs -text
/src/doc/cli_manual/preambles/events_preamble filter=lfs diff=lfs merge=lfs -text
*.out filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.bof filter=lfs diff=lfs merge=lfs -text
*.bov filter=lfs diff=lfs merge=lfs -text
*.vtk filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
/src/include/make-lib-subdir filter=lfs diff=lfs merge=lfs -text
*.nib filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
/src/java/llnl/visit/operators/README filter=lfs diff=lfs merge=lfs -text
/src/java/llnl/visit/plots/README filter=lfs diff=lfs merge=lfs -text
/src/lib/README filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.ct filter=lfs diff=lfs merge=lfs -text
*.helpml filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/anl/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/arl/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/asu/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/awe/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/chombo/config filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/chombo/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/chombo/guiconfig filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/chombo/visitrc filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/clemson/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/eth_zurich/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/llnl/config filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/llnl/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/lsu/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/ncar/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/nersc/customlauncher filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/nics/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/ohio/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/ornl/customlauncher filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/princeton/config filter=lfs diff=lfs merge=lfs -text
/src/resources/hosts/utah/customlauncher filter=lfs diff=lfs merge=lfs -text
*.mt filter=lfs diff=lfs merge=lfs -text
*.ui filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.ts filter=lfs diff=lfs merge=lfs -text
*.qm filter=lfs diff=lfs merge=lfs -text
*.inc filter=lfs diff=lfs merge=lfs -text
*.hxx filter=lfs diff=lfs merge=lfs -text
/src/sim/V2/swig/python/README filter=lfs diff=lfs merge=lfs -text
*.i filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
/src/test/approved_suppressions filter=lfs diff=lfs merge=lfs -text
*.session filter=lfs diff=lfs merge=lfs -text
/src/test/known_suppressions filter=lfs diff=lfs merge=lfs -text
/src/test/limitTest filter=lfs diff=lfs merge=lfs -text
*.pnm filter=lfs diff=lfs merge=lfs -text
/src/test/rebase_pure filter=lfs diff=lfs merge=lfs -text
/src/test/sr-benchmark/README filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.gnu filter=lfs diff=lfs merge=lfs -text
*.awk filter=lfs diff=lfs merge=lfs -text
*.opt filter=lfs diff=lfs merge=lfs -text
*.vpe filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
/src/test/tests/operators/lcs_operator_main filter=lfs diff=lfs merge=lfs -text
/src/test/tests/plugins/pluginVsInstallHelpers filter=lfs diff=lfs merge=lfs -text
*.vpq filter=lfs diff=lfs merge=lfs -text
*.skip filter=lfs diff=lfs merge=lfs -text
*.dtd filter=lfs diff=lfs merge=lfs -text
/src/third_party_builtin/cognomen/COPYING filter=lfs diff=lfs merge=lfs -text
*.LESSER filter=lfs diff=lfs merge=lfs -text
/src/third_party_builtin/cognomen/README filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
/src/tools/data/convertc2csv filter=lfs diff=lfs merge=lfs -text
/src/tools/data/dyna2vtk filter=lfs diff=lfs merge=lfs -text
/src/tools/data/xdmf_writer/README filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/avt_do_add/README filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/avt_do_add/avt_do_add filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/diagnostics/networktest/BGQ/Makefile filter=lfs diff=lfs merge=lfs -text
*.doxy filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/escan/escansource filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/escan/rules filter=lfs diff=lfs merge=lfs -text
*.eot filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.entitlements filter=lfs diff=lfs merge=lfs -text
*.GPL filter=lfs diff=lfs merge=lfs -text
*.QPL filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/alastor_cron_script filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/alastor_crontab filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/build_visit filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/build_visit_BGQ filter=lfs diff=lfs merge=lfs -text
*.input filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/converttextfile filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/lastpass_alastor filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/lastpass_pascal filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/lastpass_surface filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/makehelp filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/pascal_cron_script filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/pascal_cron_script2 filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/pascal_crontab filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/regressiontest_pascal filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/source_files filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/update_copyright filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-build-closed filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-build-open filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-create-chksums filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-dist filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-install filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-install-closed filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-install-open filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-notify-test-failure filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-strip-parallel filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-update-test-website filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit-verify-version filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit_get_usage filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/visit_ss filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/vulcan_cron_script filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/vulcan_crontab filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/vulcan_nightly_build filter=lfs diff=lfs merge=lfs -text
/src/tools/dev/scripts/vulcan_nightly_test filter=lfs diff=lfs merge=lfs -text
/src/tools/examples/avtexamples/README filter=lfs diff=lfs merge=lfs -text
/src/tools/examples/mcurvit/README filter=lfs diff=lfs merge=lfs -text
/src/tools/examples/mcurvit/inFile filter=lfs diff=lfs merge=lfs -text
/src/tools/third_party/mpeg2encode/CHANGES filter=lfs diff=lfs merge=lfs -text
/src/tools/third_party/mpeg2encode/README filter=lfs diff=lfs merge=lfs -text
/src/tools/third_party/mpeg2encode/TODO filter=lfs diff=lfs merge=lfs -text
/src/tools/third_party/qtssh/LICENCE filter=lfs diff=lfs merge=lfs -text
/src/tools/third_party/qtssh/README filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.mft filter=lfs diff=lfs merge=lfs -text
*.rc filter=lfs diff=lfs merge=lfs -text
*.iss filter=lfs diff=lfs merge=lfs -text
*.rc2 filter=lfs diff=lfs merge=lfs -text
*.url filter=lfs diff=lfs merge=lfs -text
*.sip filter=lfs diff=lfs merge=lfs -text
*.silo filter=lfs diff=lfs merge=lfs -text
*.ult filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.nsi filter=lfs diff=lfs merge=lfs -text
*.msi filter=lfs diff=lfs merge=lfs -text
*.nsh filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.aps filter=lfs diff=lfs merge=lfs -text
